# ignore .vscode folder
**/.vscode

# ignore lib / dependencies
lib/**/*.jar
lib/java*

#ignore saves
files/save/**

#ignore already built jar
qui_est_ce.jar

#ignore MacOS / Eclipse files
.DS_Store
.classpath
.project
